.cover{
    background: url("images/coverart.jpg");
    hieght: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
body{
    background-color: beige;
    font-family: helvetica, arial, sans-serif;
    color: gray;
    margin:0;
    background-image: url("images/coverart.jpg");
    background-repeat: no-repeat;
}
img{
    width:100%;
    background: white;
    margin: 1%;
    padding: 2%;
}
h3{
    color:gray;
}
a{
    color: CornflowerBlue;
}

#one{
    font-size: 2em; Something Special;
    color:#55b4b0;
}
.fifthy{
    width:300px;
}

.center{
    width:100%;
    margin:auto;
}
